.navbar-dark .navbar-nav .nav-link {
    color:  #fff;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: SaddleBrown;
}

.btn-outline-dark {
    color: #fff;
    border-color: #fff;
}

.btn-outline-dark:hover {
    background-color: hsl(0, 2%, 12%);
    border-color: #fff;
}

.carousel-fade .carousel-item {
    display: flex;
    max-height: 500px;
}

.carousel-fade .carousel-item img {
    object-fit: cover;
}

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    background-color: #FFE4B5;
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20px;
    text-align: center;
    color: SaddleBrown;
}

.product-details h6 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.product-price small {
    color: black;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}

.btn  { 
   background-color: black;
   color: white;   
}

.btn:hover {
    background-color: SaddleBrown;
    color: #fff;
}

.header {
    color: SaddleBrown;
}

.main-header {
    padding-top: 30px;
    text-align: center;
    color: SaddleBrown;
}

.Main-img {
    padding-top: 30px;
    text-align: center;
}


.main-text {
    text-align: center;
    color: SaddleBrown;
    padding-top: 40px;
    padding-bottom: 30px;
}

.main-content {
    padding-top: 40px;
}